# Import libraries

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

spark = SparkSession.builder.getOrCreate()
spark


# Load the Dataframe

In [ ]:
from pyspark.sql.types import *

schema = StructType([
    StructField("id", IntegerType()),
    StructField("first_name", StringType()),
    StructField("last_name", StringType()),
    StructField("gender", StringType()),
    StructField("City", StringType()),
    StructField("JobTitle", StringType()),
    StructField("Salary", StringType()),
    StructField("Latitude", FloatType()),
    StructField("Longitude", FloatType()),
])
df = spark.read.csv("original.csv", header=True)

# Change salary to a float

In [ ]:
df = df.withColumn("clean_salary", df.Salary.substr(2, 100).cast("float"))
# starts the string at position 2, i.e. not the dollar sign

# Group by gender

In [ ]:
import pyspark.sql.functions as sqlfunc

df1 = df.groupBy("gender").agg(sqlfunc.sum("clean_salary"))
df1.show()

# Display the average, min and max salaries by gender

In [ ]:
df1 = df.groupBy("gender").agg(sqlfunc.sum("clean_salary").alias("total"),
                               sqlfunc.avg("clean_salary").alias("average"),
                               sqlfunc.min("clean_salary").alias("min"),
                               sqlfunc.max("clean_salary").alias("max")
                               )
df1.show()

# Group by both gender and city

In [ ]:
df1 = df.groupBy("gender", "city").agg(sqlfunc.sum("clean_salary").alias("total"),
                               sqlfunc.avg("clean_salary").alias("average"),
                               sqlfunc.min("clean_salary").alias("min"),
                               sqlfunc.max("clean_salary").alias("max")
                               )
df1.show()

# Output to a file

In [ ]:
df1.write.csv("df1.csv")
df1.write.json("df1.json")
df1.write.parquet("df1.parquet")